.Info
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    
    @media (max-width: 1300px)
        align-items: unset

    .unitsContainer
        width: 800px
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between

        @media (max-width: 1300px)
            width: 100%
            max-width: 320px
