@import '../../globalStyles/colors'
.Button
    width: 90px
    height: 24px
    border-radius: 16px
    outline: none
    border: none
    color: $white
    background-color: $orange
    font-weight: 700
    font-size: 11px
    letter-spacing: 1px

    &:hover
        cursor: pointer
        background-color: lighten($orange, 10)

    &:active
        color: darken($white, 10)

    &.big
        width: 120px
        height: 48px
        border-radius: 40px
        font-size: 16px

    &.small
        width: 24px
        border-radius: 50%
        margin-left: 10px
        letter-spacing: unset

    &:disabled
        background-color: darken($orange, 20)
        cursor: unset

    &.isBack
        border-radius: 50%
        height: 50px
        width: 50px
        position: fixed
        top: 20px
        left: 20px

        @media (max-width: 400px)
            display: none

        img
            height: 25px   