.Loading

    @keyframes rotate
        0%
            transform: rotate(0deg)
        100%
            transform: rotate(359deg)

    width: 75px
    aspect-ratio: 1/1
    max-width: 350px
    margin: auto
    margin-bottom: 10px
    animation: rotate 4s linear infinite
    
    @media (max-width: 850px)
        margin-bottom: 90px